.s-searchtabs
  padding-top: 50px


.search-tabs
  position: relative
  &:before
    content: ''
    position: absolute
    width: calc(50vw - 500px)
    height: 270px
    background-color: $accent-violet
    left: calc(0px - (50vw - 590px))
    top: 0
  .tabs-controls
    padding-left: 30px
    padding-right: 20px
    line-height: 1
    background-color: $accent-violet
    border-top-right-radius: 15px
    display: inline-block
    font-size: 0
    position: relative
    z-index: 2
    li
      display: inline-block
      position: relative
      &:before, &:after
        position: absolute
        bottom: 0
        content: ''
        background: #fff
        width: 10px
        height: 10px
        //+mt(.3s)
        opacity: 0
      &:before
        left: -10px
      &:after
        right: -10px
      a
        font-size: 14px
        display: inline-block
        color: #fff
        padding: 16px 42px
        border-top-right-radius: 15px
        border-top-left-radius: 15px
        position: relative
        z-index: 3
        +mt(0s)
        &:before, &:after
          position: absolute
          bottom: 0
          content: ''
          width: 20px
          height: 20px
          border-radius: 10px
          background-color: $accent-violet
          z-index: 1
          //+mt(.3s)
          opacity: 0
        &:before
          left: -20px
        &:after
          right: -20px
      &.ui-tabs-active
        a
          background-color: #fff
          color: $text
          &:before, &:after
            opacity: 1
        &:before, &:after
          z-index: 1
          opacity: 1


.tabs-contents-wrap
  background-color: #fff
  padding: 35px 80px 50px
  border-radius: 15px
  color: $text
  position: relative
  z-index: 2

.socials
  height: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end
  padding-top: 90px
  .soc-item
    display: inline-block
    margin-bottom: 10px
    .svg
      width: 32px
      height: auto
      fill: #fff
      +mt(.3s)
    &:hover
      .svg
        fill: $accent-red